{# empty Twig template #}
<html>
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/principale.css') }}" type="text/css" />
        {% endblock %}
    <body>
        {% block body %}

        {% endblock %}

        {% block javascript %}

        {% endblock %}

    </body>
</head>
</html>