{% extends "::base.html.twig" %}

{% block title %}ProcashApiBundle:InitialiseFirebase:Initialise{% endblock %}

{% block body %}
<h1>Welcome to the InitialiseFirebase:Initialise page</h1>
{% endblock %}
