{#<div class="modal-dialog" id="a_corriger">#}
<style>
    table#tableHistoriqueRegul {
        background-color: #fff;
    }
</style>
<div class="modal-content modal-dialog modal-sm" style="width: 600px;">

    <div class="modal-header">
        <h4 class="modal-title">Historique des Régul.</h4>
    </div> 

    <div class="modal-body">
        <div class="row" style="margin-top: 15px;"> 
            {% if chiffreVente|length %}
            <table id="tableHistoriqueRegul" class="display" cellspacing="0" width="95%" style="margin-right: 26px; margin-left: 16px;">
                <thead class="thead-inverse">                    
                    <tr>
                        <th>Régul saisie</th>
                        <th>Login modif.</th>
                        <th>Date saisie</th>
                    </tr>                       
                </thead>
                <tbody>
                        {% for cv in chiffreVente %}     
                    <tr  style="height: 25px;">
                        <td>{{cv.regul}}</td>
                        <td>{{cv.loginSaisi}}</td>                           
                        <td>{{cv.dateSaisie|date('d/m/Y')}}</td>                           
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-center">Pas de résultat correspondant à afficher.</p>
            {% endif %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="fermerHistoriqueRegul" class="btn btn-default">Fermer</button>
    </div>
</div> 
<script src="{{ asset('bundles/communs/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>

<script>
    $(document).ready(function() {
        $("#fermerHistoriqueRegul").click(function() {
            $(this).closest('div.in').addClass('hide');
            $('.pellicule').addClass('hide');
        });
        $('thead tr th').removeAttr('class');
    });
    $('table#tableHistoriqueRegul').DataTable({
        "language": {
            processing: "Traitement en cours...",
            search: "Rechercher&nbsp;:",
            lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
            info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix: "",
            loadingRecords: "Chargement en cours...",
            zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable: "Aucune donnée disponible dans le tableau",
            paginate: {
                first: "Premier",
                previous: "Pr&eacute;c&eacute;dent",
                next: "Suivant",
                last: "Dernier"
            },
            aria: {
                sortAscending: ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        },
        "iDisplayLength": 5,
    });

    $("div#tableHistoriqueRegul_length").hide();
    $("div#tableHistoriqueRegul_info").hide();
    $("div#tableHistoriqueRegul_filter").hide();
</script>